    	* {
    		margin:0px;
    		padding: 0px;
    	}
    	body{
    		margin:0px;
    		
    		height: 100%;
    	}
        h1 {
            margin: 30px;
        }

        h2{
            margin-top: 30px;
        }
    	header{
    		height: 70px;
            position: relative;
            z-index: 2;
            box-shadow: 0px 0px 10px 0px rgb(0,0,0);
            background-color: rgb(255, 219, 98 );

    	}
    	main {
            border: 1px solid rgb(255, 170, 0 );
            background-color: rgb(255, 170, 0 );
            box-sizing: border-box;
            min-height: calc(100vh - 70px);
            height: 100%;
padding: 0px 10px 10px;
    	}
        .country-symbols{
            display: flex;
        }
    	nav {
    		height: 100%;
    	}
    	nav ul {
    		height: 100%;
    		display: flex;
    		list-style: none;
    		align-items: center;
    	}
    	nav a {
    		border-radius: 3px;
    		cursor: pointer;
    		text-decoration: none;
    		padding: 5px;
    		margin: 10px;
    		color: black;
    		display: block;
    		transition: 0.2s;
           background-color: rgb(255, 86, 36);
            box-shadow: 0px 2px 4px 0px rgb(0,0,0);

    	}
    	nav a:hover{
    		transform: translateY(3px);
    	}
        .mainImage {
            border-radius: 5px;
            box-shadow: 0px 2px 4px 0px rgb(0,0,0);
            margin: 0 auto;
            display: block;
            width: auto;
            max-width: 100%;
            max-height: 100%;
            cursor: pointer;
        }
        .mainImage.flag{
            height: 100%;
        }
        .main-image-wrapper {
            position: relative;
            width: 48%;
            margin: 1%;
            height: 300px;
        }
        .main-image-wrapper:hover .main-image-details {
            display: block;

        }
        .main-image-details {
            position: absolute;
            width: 400px;
            background-color: #fff;
            box-shadow: 0px 2px 4px 0px rgb(0,0,0);
            border-radius: 3px;
            left: 0;
            bottom: 0;
            display: none;      
            padding: 10px;
            transition: 0.3s;
            z-index: 2;
        }
        .main-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main-info div{
                        background-color: rgb(255, 219, 98 );
box-shadow: 0px 2px 4px 0px rgb(0,0,0);
            border-radius: 3px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid rgb(255, 219, 98 );
            margin: 30px 0px;
        }
        ol {
            margin-left: 20px;
        }
        li {
            margin: 10px 0;
        }

        #slider {
  margin-bottom: 0px;
  width: 900px;
  border: none;
  background-color: #000;
}

#slider ul {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 600px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#slider ul input[type="radio"] {
  display: none;
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
}

#slider ul input[type="radio"]:checked + label::after, #slider ul input[type="radio"]:hover + label::after {
  opacity: 0.9;
  cursor: pointer;
}

#slider ul input[type="radio"]:checked ~ img {
  opacity: 1;
}

#slider li img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  opacity: 0;
}

#slider li label::after {
  content: ".";
  margin: 0 10px;
  opacity: 0.5;
  overflow: hidden;
  line-height: 200px;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 10px;
  background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}
form input, form textarea, form button {
    margin: 10px 0;
    border-radius: 3px;
    background-color: rgb(255, 170, 0 );
    border: none;
    padding: 10px;
    width: 500px;
        box-sizing: border-box;

}

.easter_egg {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.2s;
}
.easter_egg:hover {
    opacity: 1;
}
.easter_egg img {
    width: 100%;
}
.easter_egg img:active {
    transform: rotate(20deg);
    transition: 0.1s;
}
.dudick {
    animation: fall;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fall {
    0% {
        width: 0px;
    }
    2% {
        width: 110px;
    }
        3% {
        width: 90px;
    }
        4% {
        width: 100px;
    }
    100% {
        top: 100%;
    }
}